/* body style */
body {
  background-color: rgb(151, 229, 240);
}

/* nav bar style */
nav {
  text-align: center;
  text-transform: uppercase;
  background-color:black;
  color:white;
  padding: 1em;
  font-weight: 1000;
}

/* link style */
a {
  color:gold;
  margin-right: 1em;
}

/* link visited style */
a:visited {
  color:cornflowerblue;
}

/* h1 style */
h1 {
  text-align: center;
  text-decoration: underline;
}

/* article style */
article {
  margin-bottom: 2em;
}

/* list item style */
li {
  font-weight: 1000;
  font-size: larger;
  margin-bottom: .5em;
}

/* image style */
img {
  border: 1px solid black;
  box-shadow: 10px 10px 8px gray;
  margin-bottom: 1em;
}